body{
    background: url('../img/galaxy-infinity-milky-way-110854.jpg') no-repeat center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: #f5f5f5;
}

button:hover{
    cursor: pointer;
}

button:focus{
    outline: none;
}

.disabled:hover{
    cursor: default;
}