body{
    background: url('../img/galaxy-infinity-milky-way-110854.jpg') no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #f5f5f5;
    font-family: 'nasalization-rg', sans-serif;
}

button:hover{
    cursor: pointer;
}

button:focus{
    outline: none;
}

.disabled:hover{
    cursor: default;
}

.nasa{
    font-family: 'nasalization-rg';
}

@font-face{
    font-family: 'nasalization-rg';
    src: local('nasalization-rg'), url('../fonts/nasalization-rg.ttf') format('truetype');
  }

@media (max-width: 600px){
    .footer-link a{
        display: inline-block;
    }
}