input:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

button:focus{
    outline: none;
}

.disabled:hover{
    cursor: default;
}

body{
    color: #f5f5f5dc
}